/* estilos para o navbar */
.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, grey, white);
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

 .logo {
    max-height: 60px;
  align-items: left;
    margin-top: 20px;
  }

  .menu li{
    display: block;
  }
  .menu li a{

    align-items: right;
    color: black;
    padding:20px 15px 4px;
    font:bold 20px "Trebuchet MS";
    text-decoration: none;
    letter-spacing: -0.1em;
    margin-left: 1000px;
  }


  /* Estilos para os campos de entrada de pesquisa */
.menu form {
    align-items: center;
    margin-top: -100px;
    margin-left: 400px;
    padding: 0px 20px 10px;
    border-radius: 10px;
  }

  input[type="text"] {
    width: 70%;
    padding: 5px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #e4d8d8;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
    font-weight: normal;
  }


/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
 
  i{
    font-family: Arial, Helvetica, sans-serif;
  }

  
  /* Estilo do Filtro */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .show{
    display: block;
  }

  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  /* estilos para o botão das Perguntas */
  input[type="button4"] {
    background-color: #c40606;
    color: white;
    padding: 10px 10px;
    margin: 10px 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 10%;
    margin-top: 7px;
    float: right;
  }

  .button4{
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 0px 5px 0px;
    display: grid;
    grid-auto-flow: column;
    margin-right: 60px;
    margin-left: auto;
  }

  input[type="button4"]:hover {
    background-color:#c8d1b9;
  }


/* estilos para o botão das TAGs */
#container2{
  width: 100%;
  background-color: none;
}
.container{
  height: 10px;
  width: 100%;
}

  input[type="button"] {
    background-color: #8e8787;
    color: white;
    padding: 10px 10px;
    margin: 10px 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
  }

  .button{
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 0px 5px 0px;
    display: grid;
    grid-auto-flow: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }

  input[type="button"]:hover {
    background-color:#c8d1b9;
  }

  /* Estilo das TAGs dos posts*/
  .container2{ 
    height: 50px;
    margin-top: -25px;
  }
  
    input[type="button2"] {
      background-color: #b1aaaa;
      color: white;
      padding: 10px 10px;
      margin: 10px 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 50%;
      margin-top: 5px;
    }
  
  .button2{
    text-align: right;
    font-size: 15px;
    width: 25%;
    padding: 0px 10px 10px;
    display: grid;
    grid-auto-flow: column;
  }

  input[type="button2"]:hover {
    background-color:#c72c0d;
  }


/* Darker background on mouse-over */
.buttonHome:hover {
  background-color: rgb(163, 235, 240);
}

  /* Estilo dos Cards*/  
  .cards {
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px auto 0;
    width: calc(300px * 1);
  }
  
  .card {
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 300px;
    position: relative;
    width: 1000px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: -300px;
    border-radius: 15px;
  }
  
  .card h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card.visited {
    box-shadow: 0 3px 10px 2px #444;
  }
  
  footer {
    background: linear-gradient(to right, #960018, #d1001c);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  
  #footer-image {
    max-height: 25px;
    margin-right: 20px; /* espaçamento entre imagem e borda esquerda do footer */
  }

  #footer-text {
    display: inline-block;
    font-size: 10px;
    color: white;
    margin-right: 10px; /* espaçamento entre imagem e texto */
  }