/* Estilo para a barra de navegação */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(122, 119, 119);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav img{
  width: 135px;
  height: auto;
}

/* Caixa de pesquisa */
nav form {
  width: 100%;
  float: center;
  padding: 20px 10px 0px;
  border-radius: 10px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.menu{
  float: right;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 200px;
}

input[type="button5"] {
  background-color:#d40b0b;
  color: white;
  padding: 10px 10px;
  margin: 10px 60px;
  margin-bottom: 0px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 75%;
  margin-top: 7px;
  text-align: center;
  font-size: 14px;
}


input[type="button5"]:hover {
  background-color:#c8d1b9;
}

/* Estilo da Caixa de Pesquisa*/
input[type="text"] {
  width: 70%;
  padding: 5px 10px;
  margin: 15px 0;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #e4d8d8;
  border-radius: 15px;
  box-sizing: border-box;
  margin-left: 270px;
}

.svgIcon-use{
  margin-left: 65px;
}

input[type="text"]::placeholder {
  color: #aaa;
  font-weight: normal;
}

/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  }
 
  i{
    font-family: Arial, Helvetica, sans-serif;
  }

  
  /* Estilo do Filtro */
  .myBtnContainer{
    float: center;
    margin-left: 440px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 0fr 1fr;
  }

  .btn {
    border-color: black;
    border-width: 1px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #bdb7b7;
    border-radius: 0px;
    margin: -3px;
  }
  
  .show{
    display: block;
  }

h4{
  margin-bottom: 10px;
  margin: 10px;
}

  .btn:hover {
    background-color: #ddd;
  }

  /* Estilos para o Botão das Perguntas */
  input[type="button4"] {
    background-color: #d40b0b;
    text-align: center;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    margin-top: -40px;
    margin-right: 25px;
    width: 210px;
    height: 50px;
  }

input[type="button4"]:hover {
  background-color:#e7f9b7;
}

  /* Estilos para o Botão das TAGs */
.container{
  background-color: #ddd8d8; 
  height: 50px;
  margin-top: -10px;
  width: 100%;
}

  input[type="button"] {
    background-color: #b0afaf;
    color: black;
    padding: 10px 10px;
    margin: 10px 30px;
	  margin-bottom: 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    height: 35px;
    margin-top: 7px;
  }

  .button{
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 0px 5px 0px;
    display: grid;
    grid-auto-flow: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
  }

  input[type="button"]:hover {
    background-color:#c8d1b9;
  }

  /* Estilo do Aside Esquerdo*/
  .esquerda{
    float: left;
    margin-top: -50px;
  }

.menu2{
  color: #6b6666;
  margin-left: 20px;
}

input[type="button6"] {
  background-color:#f2f2f2;
  color: black;
  padding: 10px 10px;
  margin: 10px 60px;
  margin-bottom: 0px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 30%;
  margin-left: 10px;
  text-align: left;
  font-size: 15px;
}


input[type="button6"]:hover {
  background-color:#c8d1b9;
}

 /* Estilo do Aside Direito */
 .direita{
  float: right;
  margin-top: 50px;
  margin-right: -200px;
}

.card2{
  width: 200px;
  text-align: center;
  height: 120px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: block;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}


/* Estilo para o título do card */
.card2 h2 {
  font-size: 15px;
  margin: 0px;
}

/* Estilo para o texto do card */
.card2 p {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}


  /* Estilo das TAGs dos posts*/
  .container2{ 
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
    input[type="button2"] {
      background-color: #b1aaaa;
      color: white;
      padding: 10px 10px;
      margin: 10px 25px;
      margin-bottom: 10px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 50%;
      margin-top: 5px;
    }
  
  .button2{
    text-align: right;
    font-size: 15px;
    width: 25%;
    padding: 0px 10px 10px;
    display: grid;
    grid-auto-flow: column;
  }

  input[type="button2"]:hover {
    background-color:#c72c0d;
  }


/* Darker background on mouse-over */
.buttonHome:hover {
  background-color: rgb(163, 235, 240);
}

/* Estilo para o container que envolve os cards */
.cards {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; /* Adicione um espaço no topo para não sobrepôr a barra de navegação */
}

/* Estilo para os cards */
.card {
  width: 45%;
  text-align: center;
  height: 200px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: block;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* Estilo para o título do card */
.card h2 {
  font-size: 24px;
  margin: 0;
}

/* Estilo para o texto do card */
.card p {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}

/* Estilo para as imagens do card */
.card img {
  max-width: 100%;
  height: auto;
}

/* Estilo para a responsividade */
@media screen and (max-width: 768px) {
  .container {
    margin-top: 120px; /* Adicione mais espaço no topo para não sobrepôr a barra de navegação em dispositivos menores */
  }
  .card {
    width: calc(50% - 20px); /* Reduza o tamanho dos cards para que caibam em dispositivos menores */
  } 
}

 /*estilos para o rodapé */
 footer {
  background: linear-gradient(to right, #960018, #d1001c);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

#footer-image {
  max-height: 25px;
  margin-right: 20px; /* espaçamento entre imagem e borda esquerda do footer */
}

#footer-text {
  display: inline-block;
  font-size: 10px;
  color: white;
  margin-right: 10px; /* espaçamento entre imagem e texto */
}
